/* ---- Font Imports Start  ---- */
@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Averia+Libre|Cinzel+Decorative|Delius+Unicase|Jomolhari|Leckerli+One|Megrim|Metamorphous|Modern+Antiqua|Raleway|Unica+One|Yatra+One|Zilla+Slab+Highlight&display=swap');
/* ---- Font Imports End  ---- */

/* ---- Navbar Section Start  ---- */
.nav-wrapper {
    width: 100%;
    background-image: url('./images/navbar/paper-navbar-4.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

}

html {
    width: 100%;
}



#navbar-logo-and-menu-button-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.brand-logo {
    color: black !important;
    font-size: 5vw !important;
    font-family: 'Megrim';

}

#menuIcon {
    width: 3.5vh;
    height: 3.5vh;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    padding-top: 15px;

}


#linkSection:hover {
    color: red;
}

.main-links {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Averia Gruesa Libre';
}

.main-links:hover {
    transition: all 0.75s;
    color: red;
}

/* ---- Navbar Section End  ---- */

/* ---- Main Body Section Start  ---- */
h2 {
    font-family: 'Megrim';
    color: white;
    background-color: black;
    text-align: center;

}

p,
a {
    text-decoration: none;
    font-family: 'Averia Gruesa Libre';
    text-align: center;
}

#landing-section {
    width: 100%;
    height: 1000px;
    background-image: url('./images/backgrounds/tarot-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#landing-header {
    font-family: 'Megrim';
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 8vh;
}

#landing-p {
    font-family: 'Averia Gruesa Libre';
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4vh;
}

.overview-text-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#merch-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/backgrounds/paper-bg.png');
    width: 100%;
    padding-top: 10vw;

}

.merch-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.merch-header {
    font-family: 'Megrim';
}

.merch-image {
    width: 25vw;
    height: 25vw;
}
.merch-image:hover {
    transform:translate(0px, -7.5px);
    transition: transform 0.5s;
}
.merch-image:not(:hover) {
    transform:translate(0px, 0px);
    transition: transform 1s;
}
.merch-p {
    width: 90%;
    font-family: 'Averia Gruesa Libre';
}

.merch-link {
    text-decoration: none;
    color: red
}

.merch-link:hover {
    transition: color 1s;
    color: black;
}

/* ---- Main Body Section End  ---- */

/* ---- Footer Section Start  ---- */
/* ---- Footer Section Start  ---- */